<h1>HOME</h1>

<div>
    <button class= "cadastrar" routerLink="/funcionario/cadastrar">Cadastrar Funcionario</button>
    <button class= "listar" routerLink="/funcionario/listar">Listar Funcionarios</button>
    <button class= "deletar" routerLink="/funcionario/deletar">Deletar Funcionario</button>
    <button class= "update" routerLink="/funcionario/update">Editar Funcionario</button>
</div><br>

<div>
    <button class="cadastrar" routerLink="/administrativo/cadastrar">Cadastrar Administrativo</button>
    <button class="listar" routerLink="/administrativo/listar">Listar Administrativos</button>
    <button class="deletar" routerLink="/administrativo/deletar">Deletar Administrativo</button>
    <button class= "update" routerLink="/administrativo/update">Editar Administrativo</button>
</div><br>

<div>
    <button class="cadastrar" routerLink="/solicitacao/cadastrar">Cadastrar Solicitação</button>
    <button class="listar" routerLink="/solicitacao/listar">Listar Solicitações</button>
    <button class="deletar" routerLink="/solicitacao/deletar">Deletar Solicitação</button>
    <button class="update" routerLink="/solicitacao/update">Editar Solicitação</button>
</div><br>