<div>
    <button routerLink="/funcionario/cadastrar">Cadastrar funcionario</button><br>
    <button routerLink="/funcionario/listar">Listar funcionario</button><br>
    <button routerLink="/funcionario/deletar">Cadastrar funcionario</button><br>
    <button routerLink="/funcionario/update">Listar funcionario</button><br><br>


</div>

<div>
    <button routerLink="/administrativo/cadastrar">Cadastrar Administrativo</button><br>
    <button routerLink="/administrativo/listar">Listar Administrativo</button><br>
    <button routerLink="/administrativo/deletar">Cadastrar Administrativo</button><br>
    <button routerLink="/administrativo/update">Listar Administrativo</button><br><br>

</div>

<div>
    <button routerLink="/solicitacao/cadastrar">Cadastrar Solicitação</button><br>
    <button routerLink="/solicitacao/listar">Listar Solicitação</button><br>
    <button routerLink="/solicitacao/deletar">Cadastrar Solicitação</button><br>
    <button routerLink="/solicitacao/update">Listar Solicitação</button><br><br>
</div>