<div>
    <button Id= "cadastrar" routerLink="/funcionario/cadastrar">Cadastrar Funcionario</button><br>
    <button Id= "listar" routerLink="/funcionario/listar">Listar Funcionarios</button><br>
    <button Id= "deletar" routerLink="/funcionario/deletar">Deletar Funcionario</button><br>
    <button Id= "update" routerLink="/funcionario/update">Editar Funcionario</button><br><br>
</div><br>

<div>
    <button Id="cadastrar" routerLink="/administrativo/cadastrar">Cadastrar Administrativo</button><br>
    <button Id="listar" routerLink="/administrativo/listar">Listar Administrativos</button><br>
    <button Id="deletar" routerLink="/administrativo/deletar">Deletar Administrativo</button><br>
    <button Id= "update" routerLink="/administrativo/update">Editar Administrativo</button><br><br>
</div><br>

<div>
    <button Id="cadastrar" routerLink="/solicitacao/cadastrar">Cadastrar Solicitação</button><br>
    <button Id="listar" routerLink="/solicitacao/listar">Listar Solicitações</button><br>
    <button Id="deletar" routerLink="/solicitacao/deletar">Deletar Solicitação</button><br>
    <button Id="update" routerLink="/solicitacao/update">Editar Solicitação</button><br><br>
</div>