.solicitação {
    background-color: white; 
    border: 2px solid #4CAF50;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
}

.administrativo {
    background-color: white; 
    border: 2px solid #008CBA;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
}

.funcionario {
    background-color: white; 
    border: 2px solid #555555;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
}