<h1 class="title" >Solicitação</h1>

<a class="home" routerLink="">Home</a>

<div id="destino">
    <label class="campoLabel" for="destino">Destino:</label>
    <input class="campoBox" type="text" name="destino" [(ngModel)]="destino">
</div>
<div id="dataPartida">
    <label class="campoLabel" for="dataPartida">DataPartida:</label>
    <input class="campoBox" type="text" name="dataPartida" [(ngModel)]="dataPartida">
</div>
<div id="dataRetorno">
    <label class="campoLabel" for="dataRetorno">DataRetorno:</label>
    <input class="campoBox" type="text" name="dataRetorno" [(ngModel)]="dataRetorno">
</div>
<div id="finalidade">
    <label class="campoLabel" for="finalidade">Finalidade:</label>
    <input class="campoBox" type="text" name="finalidade" [(ngModel)]="finalidade">
</div>
<div id="funcionario">
    <label class="campoLabel" for="funcionario">Funcionario:</label>
    <select class="campoBox" name="funcionario" [(ngModel)]="funcionarioid">
        <option *ngFor="let funcionario of funcionarios" value="{{funcionario.id}}">
            {{funcionario.nome}}
        </option>
    </select>
</div>


<button class="cadastrar" (click)="cadastrar()">Cadastrar</button><br>
