<div id="destino">
    <label for="destino">Destino:</label>
    <input type="text" name="destino" [(ngModel)]="destino">
</div>
<div id="dataPartida">
    <label for="dataPartida">DataPartida:</label>
    <input type="text" name="dataPartida" [(ngModel)]="dataPartida">
</div>
<div id="dataRetorno">
    <label for="dataRetorno">DataRetorno:</label>
    <input type="text" name="dataRetorno" [(ngModel)]="dataRetorno">
</div>
<div id="finalidade">
    <label for="finalidade">Finalidade:</label>
    <input type="text" name="finalidade" [(ngModel)]="finalidade">
</div>


<button (click)="cadastrar()">Cadastrar</button><br>

<a routerLink="">Home</a>
