<h1 class="title" >Administrativo</h1>

<a class="home" routerLink="">Home</a>

<div id="responsavel">
    <label class="campoLabel" for="responsavel">Responsavel:</label>
    <input type="text" class="campoBox" name="responsavel" [(ngModel)]="responsavel">
</div>
<div id="matriculaAdm">
    <label class="campoLabel" for="matriculaAdm">MatriculaAdm:</label>
    <input type="text" class="campoBox" name="matriculaAdm" [(ngModel)]="matriculaAdm">
</div>

<button class="cadastrar" (click)="cadastrar()">Cadastrar</button><br>


