<h1 class="title" >Funcionario</h1>

<a class="home" routerLink="">Home</a>
<a class="home" routerLink="/funcionario/listar">Listar</a>

<div id="id">
    <label class="campoLabel" for="id">Id:</label>
    <input class="campoBox" type="text" name="id" [(ngModel)]="id">
</div>
<div id="nome">
    <label class="campoLabel" for="nome">Nome:</label>
    <input class="campoBox" type="text" name="nome" [(ngModel)]="nome">
</div>
<div id="matricula">
    <label class="campoLabel" for="matricula">Matricula:</label>
    <input class="campoBox" type="text" name="matricula" [(ngModel)]="matricula">
</div>

<button class="cadastrar" (click)="editar()">Editar</button><br>

