<h1 class="title" >LISTAR</h1>
<a class="campoBox" routerLink="">Home</a>

<a class="campoBox" routerLink="/funcionario/cadastrar">Cadastrar</a>

<ol>
    <h3 class="listar">Lista de Funcionarios</h3>
    <li class="campoLi" *ngFor="let funcionario of funcionarios">
        <h4>#{{ funcionario.id}}</h4>
        <h4>Funcionário: {{ funcionario.nome }}</h4>
        <h4>Matrícula Funcionário: {{ funcionario.matricula }}</h4>
        <button class="listButton" routerLink="/funcionario/update/{{ funcionario.nome }}">Editar</button>
        <button class="listButton" (click)="deletar(funcionario.nome)">Deletar</button>
    </li>
</ol><br>

